#rc file for readline (editor for cli commands)

#<alt><shift>-				puts the last argument of the last command
#<alt><shift>t				swap 2 last arguments

#<ctrl>r							reverse history search

set expand-tilde on
set bell-style visible
set colored-stats on
set completion-ignore-case on
set show-all-if-unmodified on

#"\C-n": menu-complete
